:host {
    color: var(--color-slate200);
    display: block;
    height: 100%;
    width: 100%;

    overflow-x: auto;
    overflow-y: auto;
}

.table__settings {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 1rem;

    border-bottom: solid 1px var(--color-slate700);
    
    background-color: var(--color-slate800);
    position: sticky;
    top: 0px;
}

.table__container {
    height: 100%;
    width: 100%;
}

mat-button-toggle-group {
    border: 0;
    outline: 0;
    border-radius: 6px;
}

mat-button-toggle {
    width: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: var(--color-accent800);
    color: var(--color-accent300);

    font-size: var(--size-xs);
}

/* Custom styles for mat-button-toggle when selected */
.mat-button-toggle.mat-button-toggle-checked {
    background-color: var(--color-accent500);
    color: var(--color-accent200);
}

/* Custom hover styles for mat-button-toggle */
.mat-button-toggle:hover {
    background-color: var(--color-accent400);
}

mat-table {
    background: none;
    max-height: 30.5rem;
    border-collapse: collapse;
}

mat-header-cell {
    color: var(--color-slate200);
    font-weight: bold;
    border-right: dashed var(--color-slate700) 1px;
    font-size: var(--size-s);
}

mat-cell {
    color: var(--color-slate200);
    border-right: dashed var(--color-slate700) 1px;
    padding: 0.75em;
    font-size: var(--size-s);
}

mat-row {
    border-top: 1px var(--color-slate700) solid;
}

.mat-column-id {
    flex: 0 0 8%;
}

.mat-column-date {
    flex: 0 0 8%;
}

.mat-column-time {
    flex: 0 0 8%;
}

.mat-column-temperature {
    flex: 0 0 8%;
}

.mat-column-humidity {
    flex: 0 0 8%;
}

.mat-column-pressure {
    flex: 0 0 10%;
}

.mat-column-rain {
    flex: 0 0 10%;
}

.mat-column-windspeed {
    flex: 0 0 10%;
}

.mat-column-winddirection {
    flex: 0 0 6%;
}

.mat-column-light {
    flex: 0 0 8%;
}

.mat-column-pm10 {
    flex: 0 0 8%;
}

.mat-column-pm25 {
    flex: 0 0 8%;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: var(--color-slate900);
}