:host {
    background-color: var(--color-slate700);
    color: var(--color-slate200);
}

.table__settings {
    display: flex;
    flex-direction: row;
}

mat-table {
    background-color: var(--color-slate700);
    max-height: 500px;
}

mat-header-cell {
    color: var(--color-slate200);
}

mat-cell {
    color: var(--color-slate200);
}