:host {
    display: flex;
    flex-direction: column;
}

.today__tiles-grid {
    display: grid;
    grid-template-rows: repeat(3, 12rem);
    grid-template-columns: repeat(3, 12rem);
    justify-items: center;
    align-items: center;

    background-color: var(--color-slate800);
    border-radius: 6px;
}

.today__data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.today__chart-container,
.today__table-container {
    width: 50rem;
    height: 17rem;
    background-color: var(--color-slate800);
    display: flex;
    padding: 1rem;
    border-radius: 6px;

    overflow: hidden;
}