<!-- Today: -->
<header class="content__header">
    <h1>Today</h1>
    <h1>30.04.2024</h1>
    <h1>12:00</h1>
</header>
<hr>
<main class="content__main">
    <section class="today__tiles-grid">
        <!-- current data tiles -->
        <p>temp</p>
        <p>pressure</p>
        <p>humidity</p>
        <p>rain</p>
        <p>wind speed</p>
        <p>wind direction</p>
        <p>light</p>
        <p>pm10</p>
        <p>pm25</p>
    </section>
    <section class="today__data">
        <!-- current data chart and table -->
        <div style="background-color: aqua; padding: 2rem;"> data chart </div>
        <div style="background-color: beige; padding: 2rem;"> data table </div>
    </section>
</main>
