:host {
    display: flex;
    flex-direction: column;
}

.today__tiles-grid {
    display: grid;
    grid-template-rows: repeat(3, 6rem);
    grid-template-columns: repeat(3, 6rem);
    justify-items: center;
    align-items: center;
    background-color: var(--color-slate800);
    border-radius: 10px;
}

.today__data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.today__chart-container,
.today__table-container {
    width: 18rem;
    height: 18rem;
    background-color: var(--color-slate800);
    display: flex;
    padding: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
}

/* xxs */
@media (min-width: 375px) {
    .today__tiles-grid {
        grid-template-rows: repeat(3, 7.5rem);
        grid-template-columns: repeat(3, 7.5rem);
    }
    
    .today__data {
        gap: 1.25rem;
    }
    
    .today__chart-container,
    .today__table-container {
        width: 22.5rem;
        height: 22.5rem;
    }
}

/* xs */
@media (min-width: 475px) {
    .today__tiles-grid {
        grid-template-rows: repeat(3, 9rem);
        grid-template-columns: repeat(3, 9rem);
    }
    
    .today__chart-container,
    .today__table-container {
        width: 27rem;
        height: 27rem;
    }
}

/* sm */
@media (min-width: 640px) {
    :host {
        display: flex;
        flex-direction: column;
    }
    
    .today__tiles-grid {
        grid-template-columns: repeat(3, 12rem);
        grid-template-rows: repeat(3, 6rem);
    }
    
    .today__data {
        gap: 0.5rem;
    }
    
    .today__chart-container,
    .today__table-container {
        width: 36rem;
        height: 18rem;
        padding: none;
    }  
}

@media screen and (orientation:landscape) {
    :host {
        display: flex;
        flex-direction: column;
    }
    
    .today__tiles-grid {
        display: grid;
        grid-template-columns: repeat(3, 12rem);
        grid-template-rows: repeat(3, 6rem);
        justify-items: center;
        align-items: center;
        background-color: var(--color-slate800);
    }
    
    .today__data {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .today__chart-container,
    .today__table-container {
        width: 36rem;
        height: 18rem;
        background-color: var(--color-slate800);
        display: flex;
        padding: none;
        overflow: hidden;
    }
}

/* md */
@media (min-width: 768px) {
    .today__tiles-grid {
        grid-template-columns: repeat(3, 15rem);
        grid-template-rows: repeat(3, 7rem);
    }
    
    .today__data {
        gap: 1rem;
    }
    
    .today__chart-container,
    .today__table-container {
        width: 45rem;
    }
}

/* lg */
@media (min-width: 1024px) {    
    .today__tiles-grid {
        grid-template-rows: repeat(3, 10rem);
        grid-template-columns: repeat(3, 10rem);
    }
    
    .today__data {
        justify-content: center;
        align-items: center;
    }
    
    .today__chart-container,
    .today__table-container {
        width: 36rem;
        height: 14.5rem;
        padding: 0.5rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .today__tiles-grid {
        grid-template-rows: repeat(3, 12rem);
        grid-template-columns: repeat(3, 12rem);
    }
    
    .today__data {
        gap: 2rem;
    }
    
    .today__chart-container,
    .today__table-container {
        width: 40rem;
        height: 17rem;
    }  
}

/* 2xl */
@media (min-width: 1536px) {   
    .today__chart-container,
    .today__table-container {
        width: 50rem;
    }
}