<!-- Today: -->
<header class="content__header">
    <h1 class="content__header__text">Today</h1>
    <div class="content__header__dot">•</div>
    <h1 class="content__header__text">{{ currentDate }}</h1>
    <div class="content__header__dot">•</div>
    <h1 class="content__header__text">{{ currentTime }}</h1>
    <div class="content__header__dot">•</div>
    <h1 class="content__header__text">Current readings</h1>
</header>
<main class="content__main">
    <section class="today__tiles-grid">
        <!-- Current data tiles -->
        <tile [tileClass]="'tileTemperature'"></tile>
        <tile [tileClass]="'tileHumidity'"></tile>
        <tile [tileClass]="'tilePressure'"></tile>

        <tile [tileClass]="'tileRain'"></tile>
        <tile [tileClass]="'tileWindSpeed'"></tile>
        <tile [tileClass]="'tileWindDirection'"></tile>

        <tile [tileClass]="'tileLight'"></tile>
        <tile [tileClass]="'tilePm10'"></tile>
        <tile [tileClass]="'tilePm25'"></tile>
    </section>
    <section class="today__data">
        <!-- Current data chart and table -->
        <div class="today__chart-container"> 
            <data-chart #todayChart></data-chart>
        </div>
        <div class="today__table-container">
            <data-table #todayTable></data-table>
        </div>
    </section>
</main>

