:host {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-accent900);
    color:  var(--color-accent300);
    font-size: var(--size-s);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 6px;
    /* padding-bottom: 1rem; */
}

.tile__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.tile__content__container {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
}

.tile__content__icon {
    width: 1rem;
    height: 1rem;
}

.tile__content__value {
    font-size: var(--size-xs);
}

.tile__text {
    font-size: var(--size-xs);
    /* margin-top: -3.25rem; */
}

#pieChart {
    width: 100px;
    height: 100px;
    margin-bottom: -3.5rem;
    margin-top: -1.25rem;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
@media (min-width: 1536px) {
    :host {
        width: 10rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        background-color: var(--color-accent900);
        color:  var(--color-accent300);
        font-size: var(--size-l);
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 6px;
        /* padding-bottom: 1rem; */
    }
    
    .tile__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
    }
    
    .tile__content__container {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }
    
    .tile__content__icon {
        width: 2.75rem;
        height: 2.75rem;
    }
    
    .tile__content__value {
        font-size: var(--size-xl);
    }
    
    .tile__text {
        font-size: var(--size-l);
        /* margin-top: -3.25rem; */
    }
    
    #pieChart {
        width: 150px;
        height: 150px;
        margin-bottom: -3.25rem;
        margin-top: -3.25rem;
    }
}