:host {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-accent900);
    color:  var(--color-accent300);
    font-size: var(--size-l);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 6px;
    padding-bottom: 2rem;
}

.tile__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tile__text {
    font-size: var(--size-base);
}

#pieChart {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    margin-bottom: -3rem;
}