.charts__content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.charts__chart-container {
    width: 74rem;
    height: 36rem;
    background-color: var(--color-slate800);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 6px;
}

.charts__tiles-grid {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    justify-content: space-between;
    border-radius: 6px;
}

.charts__tile {
    width: 10rem;
    height: 8rem;
}
