<!-- <label for="chart__value">Values:</label> -->
<div class="chart__settings">
  <select #chartValue name="chart__value" class="settings-item chart__value" (change)="onSelectedValueChanged()">
      <option value=3>Temperature</option>
      <option value=4>Humidity</option>
      <option value=5>Pressure</option>
      <option value=6>Rain</option>
      <option value=7>Wind Speed</option>
      <option value=9>Light</option>
      <option value=10>Pm 10</option>
      <option value=11>Pm 2.5</option>
  </select>

  <select #chartType name="chart__type" class="settings-item chart__type" (change)="onSelectedTypeChanged()">
    <option value="Day">Day</option>
    <option value="Week">Week</option>
  </select>

  <input #dayPicker type="date" class="settings-item dayPicker" name="dayPicker" (change)="onSelectedDayChanged()">
  <input #weekPicker type="week" class="settings-item weekPicker" name="weekPicker" (change)="onSelectedWeekChanged()">
</div>

<div class="chart-container">
    <apx-chart #apexChart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"></apx-chart>
</div>