<label for="table__sort">Values:</label>
<select #chartValue name="chart__value" id="chart__value" (change)="onSelectedValueChanged()">
    <option value=3>Temperature</option>
    <option value=4>Humidity</option>
    <option value=5>Pressure</option>
    <option value=6>Rain</option>
    <option value=7>Wind Speed</option>
    <option value=9>Light</option>
    <option value=10>Pm 10</option>
    <option value=11>Pm 25</option>
</select>

<select #chartType name="chart__type" id="chart__type" (change)="onSelectedTypeChanged()">
  <option value="Day">Day</option>
  <option value="Week">Week</option>
</select>

<input #dayPicker type="date" class="dayPicker" name="dayPicker" (change)="onSelectedDayChanged()">
<input #weekPicker type="week" class="weekPicker" name="weekPicker" (change)="onSelectedWeekChanged()">

<div class="chart-container">
    <apx-chart #apexChart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"></apx-chart>
</div>