:host {
    display:block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.chart__settings {
    display: flex;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.5rem;

    overflow: auto;
}

.weekPicker {
    display: none;
}

.chart-container {
    display: flex;
    width: 100%;
    height: 90%;
    margin-top: 0.25rem;
}

apx-chart {
    height:100%;
    width:100%;
}

/* xxs */
@media (min-width: 375px) {
    .chart-container {
        margin-top: 0.5rem;
    }
}

@media screen and (orientation:landscape) {
    :host {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .chart__settings {
        display: flex;
        gap: 1rem;
        padding-left: 0.5rem;
    }
    
    .weekPicker {
        display: none;
    }
    
    .chart-container {
        display: flex;
        height: 90%;
        width:100%;
        margin-top: unset;
    }
}

/* lg */
@media (min-width: 1024px) {
    .chart__settings {
        gap: 1rem;
    }
    
    apx-chart {
        height:100%;
        width:100%;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .chart-container {
        margin-top: unset;
    }
}
