/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.content__header {
    width: 100vw;
    min-height: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
    justify-content: baseline;
}

.content__header__text {
    font-size: var(--size-2xl);
    font-weight: 500;
}

.content__header__dot {
    font-size: var(--size-3xl);
}

.content__main {
    width: 100vw;
    display: flex;
    padding-top: 2rem;
    gap: 2rem;
    justify-content: flex-start;
    padding-left: 2rem;
}

.settings-item {
    background-color: var(--color-accent800);
    color: var(--color-accent300);
    font-size: var(--size-s);

    padding: 0.6em;
    padding-left: 1em;
    border-radius: 6px;
    border: none;
    outline: none;
    text-align: left;
}

/* Add this to your styles.css or component-specific CSS file */
.apexcharts-tooltip {
    padding: 0.5rem !important;
}